/**/

.container{
  background: linear-gradient(to bottom, salmon, indianred, firebrick);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.linha{
  margin-top: 20px;
  margin-bottom: 20px;
}

@font-face{
  font-family: "OpAmp";
  src: url("../fonts/operational_amplifier.ttf") format("truetype");
}

h1{
  color: white;
  font-family: OpAmp;
  text-align: center;
  font-size: 40px;
}

h2{
  color: white;
  font-family: OpAmp;
  text-align: center;
  font-size: 30px;
}

.btn{
  font-size: 18px;
}